body {
  background-image: linear-gradient(to bottom, rgba(11, 128, 27, 0.85), rgba(11, 128, 27, 0.85)), url('../public/images/poker-table.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

div {
  text-align: center;
}

* {
  box-sizing: border-box;
}